.filter {
    width: 100%;
    height: 100%;
    background: $shadow_1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;

    &.display {
        display: block;
    }

    .popup {
        background: $third_11;
        border: solid 2px $second_1;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: none;

        &.display {
            display: block;
        }

        .title {
            width: 100%;
            height: 50px;
            @include title;
            display: flex;
            align-items: center;
            position: relative;

            p {
                width: 100%;
                font-size: 20px;
                color: $second_1;
                font-weight: bold;
                letter-spacing: 2px;
                text-align: center;
            }

            i {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                cursor: pointer;

                &::before {
                    content: "";
                    width: 25px;
                    height: auto;
                    border-style: solid;
                    border-color: $second_1;
                    border-width: 3px 0 0 0;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%) rotate(45deg);

                }

                &::after {
                    content: "";
                    width: 25px;
                    height: auto;
                    border-style: solid;
                    border-color: $second_1;
                    border-width: 3px 0 0 0;
                    position: absolute;
                    top: 50%;
                    right: 0px;
                    transform: translateY(-50%) rotate(-45deg);
                    
                }
            }
        }

        &.news {
            width: 840px;
            min-height: 255px;
            height: auto;

            .menu {
                width: 96%;
                height: auto;
                display: flex;
                border-bottom: solid 1px $third_12 ;
                padding: 8px 0 0 0;
                margin: 0 auto;
                position: relative;

                li {
                    width: auto;
                    height: 35px;
                    border-bottom: solid 3px transparent;
                    display: flex;
                    align-items: center;
                    padding: 0 40px;
                    position: relative;
                    cursor: pointer;

                    p {
                        display: inline;
                        color: $main_3 ;
                        font-size: 16px;
                        font-weight: bold;
                        letter-spacing: 2px;
                    }

                    &:hover,
                    &:active,
                    &.active {
                        border-color: $third_10;
                    }

                    &::before {
                        content: "";
                        width: 2px;
                        height: 15px;
                        background: $third_3;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }

            .content {
                width: 96%;
                height: auto;
                padding-bottom: 20px;
                margin: 0 auto;
                display: none;

                &.display {
                    display: block;
                }

                li {
                    width: 100%;
                    height: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 5px;
                    border-bottom: solid 1px $third_3;

                    p {

                        font-weight: bold;

                        &.text {
                            min-width: 670px;
                            color: $second_1 ;
                            font-size: 16px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &.date {
                            color: $third_3 ;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}