footer {
    width: 100%;
    height: auto;

    .upperHalf {
        width: 100%;
        height: 55px;

        .upperHalfCenter {
            width: 1400px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;

            ul {
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;

                li {
                    width: 95px;
                    height: 100%;
                    display: flex;
                    margin: 0 10px 0 0;

                    a {
                        width: 100%;
                        height: 100%;
                        font-size: 17px;
                        font-weight: bold;
                        color: $second_2;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    &:hover,
                    &:active,
                    &.active {
                        @include footerActive;
                        height: 45px;
                        clip-path: polygon(85% 0, 100% 49%, 85% 99%, 15% 98%, 0 50%, 15% 0);

                        a {
                            color: $third_1;
                            font-weight: normal;
                        }
                    }
                }

                p {
                    color: $second_2;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 2px;
                }

            }
        }
    }

    .lowerHalf {
        width: 100%;
        height: 160px;

        .lowerHalfCenter {
            width: 1400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            p {
                width: auto;
                height: auto;
                font-size: 12px;
                font-weight: bold;
                color: $second_2;
                margin: 0 0 20px 0;

                &:last-child {
                    margin: 0;
                }
            }
        }
    }
}