header {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    .topArea {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;

        // 紫色區塊
        .purpleArea {
            width: 1300px;
            height: 100%;
            background: $main_1;
            box-shadow: 0 0 2px 0 $shadow_1;
            position: relative;
            padding: 0 100px 0 0;

            // 三角形邊框
            &::before {
                content: "";
                border-style: solid;
                border-width: 21px 36px 24px 0px;
                border-color: transparent $main_2 transparent transparent;
                position: absolute;
                top: -5px;
                left: -36px;
            }

            // 使用者介面區
            .userList {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-end;

                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    margin: 0 10px;

                    // 帳密表單
                    form {
                        width: auto;
                        height: auto;
                        display: flex;

                        label {
                            width: auto;
                            height: auto;
                            position: relative;

                            &.acc {
                                &::before {
                                    content: "";
                                    width: 19px;
                                    height: 30px;
                                    background: url("../img/border_trig.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    left: -13px;
                                }
                            }

                            &.pas {
                                &::after {
                                    content: "";
                                    width: 19px;
                                    height: 30px;
                                    background: url("../img/border_trig.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    right: -13px;
                                    transform: scaleX(-1);
                                }
                            }

                            input {
                                width: 195px;
                                height: 30px;
                                @include input_1;
                                margin: 0 5px;
                                padding: 0 30px 0 30px;

                                &.account {
                                    border-width: 1px 1px 1px 0;
                                }

                                &.password {
                                    border-width: 1px 0 1px 1px;
                                }

                                &::placeholder {
                                    font-size: 15px;
                                    color: $main_2;
                                    font-weight: bold;
                                    text-align: center;
                                }
                            }
                        }

                        // 登入與註冊按鈕
                        button {
                            width: auto;
                            height: 31px;
                            border-style: solid;
                            border-width: 1px 0 1px;
                            border-color: $main_3;
                            position: relative;
                            padding: 0 5px;
                            margin: 0 0 0 50px;

                            // 登入按鈕
                            &.loginBtn {
                                @include loginBtn;

                                p {
                                    color: $main_2;
                                }

                                &::before {
                                    content: "";
                                    width: 19px;
                                    height: 31px;
                                    background: url("../img/border_trig_2.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    left: -19px;
                                    transform: scaleX(-1);
                                }

                                &::after {
                                    content: "";
                                    width: 19px;
                                    height: 31px;
                                    background: url("../img/border_trig_2.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    right: -19px;
                                }
                            }

                            // 註冊按鈕
                            &.signupBtn {
                                @include signupBtn;
                                position: relative;

                                p {
                                    color: $main_3;
                                }

                                &::before {
                                    content: "";
                                    width: 19px;
                                    height: 31px;
                                    background: url("../img/border_trig_3.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    left: -19px;
                                    transform: scaleX(-1);
                                }

                                &::after {
                                    content: "";
                                    width: 19px;
                                    height: 31px;
                                    background: url("../img/border_trig_3.png") no-repeat;
                                    background-size: contain;
                                    position: absolute;
                                    top: 0;
                                    right: -19px;
                                }
                            }

                            p {
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }

                    // 忘記密碼
                    &.forgetBtn {
                        button {
                            width: auto;
                            height: auto;
                            background: none;
                            display: flex;
                            margin: 0 0 0 10px;

                            .questionIc {
                                width: 20px;
                                height: 20px;
                                border-radius: 10px;
                                border: solid 1px $second_1;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                margin: 0 5px 0 0;
                            }

                            p {
                                font-size: 15px;
                                color: $second_1;
                                border-bottom: solid 1px $second_1;
                            }
                        }
                    }

                    // 語言切換
                    &.languageBtn {

                        label {
                            width: auto;
                            height: auto;
                            margin: 0 0 0 20px;
                            position: relative;

                            &::before {
                                content: "";
                                width: 21px;
                                height: 31px;
                                background: url("../img/border_trig_4.png") no-repeat center;
                                background-size: contain;
                                position: absolute;
                                top: 0;
                                left: -21px;
                            }

                            &::after {
                                content: "";
                                width: 21px;
                                height: 31px;
                                background: url("../img/border_trig_4.png") no-repeat center;
                                background-size: contain;
                                position: absolute;
                                top: 0;
                                right: -21px;
                                transform: scaleX(-1);
                            }

                            select {
                                padding: 5px 0;
                                @include languageStyle;
                                position: relative;
                                cursor: pointer;
                            }

                            i {
                                width: 8px;
                                height: 8px;
                                border-style: solid;
                                border-width: 0 0 2px 2px;
                                border-color: $main_2;
                                rotate: (-45deg);
                                position: absolute;
                                top: 40%;
                                transform: translateY(-50%);
                                right: -10px;
                                z-index: 1;
                                pointer-events: none;
                            }
                        }

                        &.loginAfter {
                            label {
                                margin: 0;

                                &::before {
                                    display: none;
                                }

                                &::after {
                                    display: none;
                                }

                                select {
                                    @include loginAfterLanguageStyle;

                                    option {
                                        color: $second_3;
                                    }

                                }

                                i {
                                    border-color: $main_3;
                                    top: 43%;
                                    right: 0;
                                }

                            }
                        }
                    }
                }

                // 登入後
                &.loginAfter {
                    ol {
                        width: auto;
                        height: 100%;
                        display: flex;

                        li {
                            p {
                                color: $third_9;
                            }

                            div {
                                border: solid 1px $third_6;
                                border-radius: 3px;
                                background: $main_3 ;
                                padding: 5px 5px;

                                p {
                                    font-size: 15px;
                                    font-weight: bold;
                                }
                            }

                            &.userStatus {
                                p {
                                    font-size: 14px;
                                    color: $third_4;

                                    span {
                                        color: $third_8;
                                        margin: 0 5px;
                                    }
                                }
                            }

                            &.moneyStatus {
                                div {
                                    p {
                                        color: $second_3;
                                        display: flex;

                                        i {
                                            width: 8px;
                                            height: 8px;
                                            border-style: solid;
                                            border-width: 0 2px 2px 0;
                                            border-color: $second_3;
                                            transform: translateY(3px) rotate(45deg);
                                            margin: 0 0 0 8px;
                                        }
                                    }
                                }
                            }

                            &.signoutBtn {
                                div {
                                    @include signoutBtn;

                                    a {
                                        p {
                                            color: $main_3;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .midArea {
        width: 100%;
        height: 80px;
        position: relative;
        z-index: -1;

        .centerArea {
            width: 1400px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;
            position: relative;
            z-index: 1;

            .logo {
                width: auto;
                height: auto;

                img {
                    width: 226px;
                    height: 40px;
                    object-fit: contain;
                }
            }

            .menu {
                width: auto;
                height: 100%;
                display: flex;

                li {
                    width: auto;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;

                    .hexagon {
                        width: 95px;
                        height: 79px;
                        @include hexagon;
                        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: -1;
                        display: none;

                        div {
                            width: calc(100% - 25px);
                            height: 4px;
                            background: $second_1;
                            position: absolute;
                            bottom: 2px;
                            left: 1px;
                        }
                    }

                    a {
                        font-size: 18px;
                        letter-spacing: 1px;
                        color: $second_2;
                        padding: 0 25px;
                    }

                    &:hover,
                    &:active,
                    &.active {
                        .hexagon {
                            display: block;
                        }

                        a {
                            color: $main_3 ;
                        }
                    }
                }
            }
        }
    }

    .bottomArea {
        width: 100%;
        height: 226px;
        @include bottomArea;
        display: none;

        &.display {
            display: block;
        }

        .listArea {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 1320px;
                height: 100%;
                overflow: hidden;
                display: none;

                &.display {
                    display: block;
                }

                ol {
                    width: auto;
                    height: 100%;
                    display: flex;

                    li {
                        width: 220px;
                        height: 100%;
                        display: flex;

                        a {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            div {
                                width: 220px;
                                height: 184px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                }
                            }

                            p {
                                font-size: 14px;
                                font-weight: bold;
                                text-align: center;
                                color: $second_1;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }

            .arrow_ic {
                width: 40px;
                height: 100%;
                position: relative;
                cursor: pointer;
                pointer-events: none;

                &.active {
                    pointer-events: visible;

                    &::before {
                        opacity: 1;
                    }
                }

                &::before {
                    content: "";
                    width: 15px;
                    height: 15px;
                    border-style: solid;
                    border-width: 4px 4px 0 0;
                    border-color: $main_3;
                    position: absolute;
                    top: 50%;
                    left: 60%;
                    transform: translate(-50%, -50%) rotate(-135deg);
                    opacity: 0.3;
                }

                &.next {
                    transform: scaleX(-1);
                }
            }
        }
    }
}